* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    animation: title 1500ms infinite alternate linear;
    -webkit-animation: title 1500ms infinite alternate linear;
    font-size: 75px;
    background-image: linear-gradient(30deg, #00ffa2, #00d0ff);
    background-image: -webkit-linear-gradient(30deg, #00ffa2, #00d0ff);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    z-index: 1;
} @keyframes title
{
    0% {
        background-position:0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@-webkit-keyframes title
{
    0% {
        background-position:0 0;
    }

    100% {
        background-position:100% 0;
    }
}

.sub-title {
    animation: title 1500ms infinite alternate linear;
    -webkit-animation: title 1500ms infinite alternate linear;
    font-size: 25px;
    background-image: linear-gradient(30deg, #00ffa2, #00d0ff);
    background-image: -webkit-linear-gradient(30deg, #00ffa2, #00d0ff);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    z-index: 1;
} @keyframes title
{
    0% {
        background-position:0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@-webkit-keyframes title
{
    0% {
        background-position:0 0;
    }

    100% {
        background-position:100% 0;
    }
}

.button-introduction {
    transition: all 300ms ease;
    position: absolute;
    right: 30px;
    top: 20px;
    width: 12vh;
    height: 6vh;
    background-image: linear-gradient(30deg, #00ffa2, #00d0ff);
    background-image: -webkit-linear-gradient(30deg, #00ffa2, #00d0ff);
    background-size:200% 100%;
    border: none;
    border-radius: 35px;
    text-align: center;
    color: white;
    z-index: 1;
}

.button-introduction:hover {
    animation: button-introduction 2s infinite alternate linear;
    -webkit-animation: button-introduction 2s infinite alternate linear;
    transform: scale(108%);
    width: 14vh;
    height: 6vh;
    filter: contrast(115%);
} @keyframes button-introduction
{
    0% {
        background-position:0 0;
    }

    100% {
        background-position: 100% 0;
    }
} @-webkit-keyframes button-introduction
{
    0% {
        background-position:0 0;
    }

    100% {
        background-position:200% 0;
    }
}

.button-introduction:active {
    transition: all 50ms ease;
    color: write;
    transform: scale(97%);
}

.noticesBox {
    height: 30vh;
    width: 25vh;
    position: absolute;
    left: 0px;
    top: 20vh;
    box-shadow: 5px 5px 20px rgb(195, 195, 195);
    border-radius: 20px;
    display: none;
    z-index: 2;
    background-color: white;
}

.noticesTitle {
    position: relative;
    left: 5px;
    top: 5px;
    font-size: 25px;
    background-image: linear-gradient(30deg, #00ffa2, #00d0ff);
    background-image: -webkit-linear-gradient(30deg, #00ffa2, #00d0ff);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    z-index: 2;
}

.notices {
    position: relative;
    left: 5px;
    top: 5px;
    z-index: 2;
}

.noticesBotton {
    transition: all 100ms ease-in-out;
    position: absolute;
    left: 0px;
    width: 9vh;
    height: 5vh;
    background-image: linear-gradient(30deg, #00ffa2, #00d0ff);
    background-image: -webkit-linear-gradient(30deg, #00ffa2, #00d0ff);
    background-size:200% 100%;
    border: none;
    border-radius: 0px 35px 35px 0px;
    text-align: center;
    color: white;
    z-index: 2;
}

.noticesBotton:hover {
    width: 10vh;
}

.noticesBotton:focus+.noticesBox {
    display: block;
}
